<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta name="description" content="{{ SITENAME }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}

    
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main-grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main-grid.css">
    <!--<![endif]-->
  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    <!--<![endif]-->
    
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css" />


    
    

    {% endblock head %}

</head>
<body>


	<div id="layout" class="pure-g">
	    <div class="sidebar pure-u-1 pure-u-med-1-4">
	        <div class="header">
	            <hgroup>
	                <h1 class="brand-title">{{ SITENAME }}</h1>
	                <h2 class="brand-tagline">{{ SITESUBTITLE }}</h2>
	            </hgroup>

	            <nav class="nav">
	                <ul class="nav-list">
	                    
	                	{% for title, link in MENUITEMS %}
				            <li class="nav-item"><a class="pure-button" href="{{ link }}">{{ title }}</a></li>
				        {% endfor %}
				        {% if DISPLAY_PAGES_ON_MENU %}
				          {% for p in PAGES %}
				            <li class="nav-item"><a class="pure-button {% if p == page %}pure-button-active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
				          {% endfor %}
				        {% else %}
				          {% if DISPLAY_CATEGORIES_ON_MENU %}
				            {% for cat, null in categories %}
				              <li class="pure-button nav-item"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
				            {% endfor %}
				          {% endif %}
				        {% endif %}

	                </ul>
	            </nav>
	        </div>
	    </div>

	    <div class="content pure-u-1 pure-u-med-3-4">
	        <div>
	            {% block content %}
	        	{% endblock %}
	        </div>
	    </div>
	</div>

    {% if GOOGLE_ANALYTICS %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("{{ GOOGLE_ANALYTICS }}");
            pageTracker._trackPageview();
            } catch(err) {}
    </script>
    {% endif %}



</body>
</html>